<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="container">
<!-- header ................................. -->
<div id="header">
	<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
</div>
<!-- /header -->

<!-- navigation ................................. -->
<div id="navigation">


	<form action="/index.php" method="get">
		<!--
		<fieldset>
			<input value="" name="s" id="s" />
			<input type="submit" value="Go!" id="searchbutton" name="searchbutton" />
		</fieldset>
		-->
	</form>
	
	###PAGENAV###
</div>
<!-- /navigation -->

<hr class="low" />
		
<!-- content ................................. -->
		<div id="content">			
			
			###POSTS_LIST###				
		
		<p><!-- this is ugly -->
		<span class="next"></span>
		<span class="previous"></span>
		</p>
		
		</div>
		<!-- /content -->

		<div id="subcontent">			
				###BLOG_CALENDAR###
				
				###BLOG_MOST_RECENT_POSTS###
			
				###CATEGORIES###
				
				###BLOG_BLOGROLL###
					
				###BLOG_CONTENT_RIGHT###							
			
		</div>

		<hr class="low" />

		<!-- footer ................................. -->
		<div id="footer">
		
			<p><strong>&copy; Copyright 2005. All rights reserved.</strong><br />
		
			<a href="http://www.kingcosmonaut.de/blix/">Blix Theme</a> by Sebastian Schmieg. Icons by <a href="http://www.graphicpush.com/blogicons/">Kevin Potts</a> . Powered by <a href="http://www.typo3.com">TYPO3</a> and <a href="http://www.ingo-renner.com/?id=11" title="timtab: Blogging with TYPO3">timtab</a> . </p>
			
		</div> <!-- /footer -->

	</div> <!-- /container -->

<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>